/features_conch_v15/
/artifacts_max/
/dataframes/
/trident/
/heatmaps/
/temp_models/
/features_conch_v15_no_holes/
/artifacts_max_mit_holes/
/optuna_trials_mix.csv
/features_conch_v15_CAL/
/features_conch_v15_HUN/
/CRC_Project.pptx
/playground.py
/playground.ipynb
/features_conch_v15_CAL_AUG/
/features_conch_v15_BAY/
/artifacts/
/optuna_results/
